
@{
    ViewData["Title"] = "BusinessClaimed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Business Claimed</h2>

<p>It appears that someone has already claimed that business. If you believe this is in error, please contact the administrator.</p>