@model  Domain.ApplicationUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Hello, @Model.FirstName!</p>

<p>Recent Check-Ins to @Model.BusinessName:</p>
