@page
@model LoginModel

@{
    ViewData["Title"] = "log in";
}

<br /><br /><div>
    <h1 id="firstFade" style="display: none; font-family: Tahoma, Geneva, sans-serif">s t r i n g e r<img src="~/images/bigblue.jpg" /></h1><br /><br /><br />
</div>

<div class="row">
    <div class="col-md-1">
        <section></section>
    </div>
    <div class="col-md-4">
        <section>
            <form method="post" style="display: none" id="secondFade">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <strong>email</strong>
                    <input asp-for="Input.Email" class="form-control blueBack" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong>password</strong>
                    <input asp-for="Input.Password" class="form-control blueBack" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default blueBack">log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"><h4 style="display: none; font-family: Tahoma, Geneva, sans-serif" id="thirdFade" class="text-right"><i>...don't forget</i></h4><br /></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
