@{
    ViewData["Title"] = "Home Page";
}


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><div>
    <h1 id="firstFade" style="display: none; font-family: Tahoma, Geneva, sans-serif">s t r i n g e r<img src="~/images/bigblue.jpg" /></h1><br /><br /><br /><br /><br /><h4 style="display: none; font-family: Tahoma, Geneva, sans-serif" id="secondFade" class="text-right"><i>don't forget</i></h4><br /><br /><br /><br /><br />
</div>

