@{
    ViewData["Title"] = "Home Page";
}


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><div>
    <h1 id="firstFade" style="display: none">s t r i n g e r<img src="~/images/bigblue.jpg" /></h1><br /><br /><br /><br /><br /><h4 style="display: none" id="secondFade" class="text-right">don't forget</h4><br /><br /<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

