
@{
    ViewData["Title"] = "Interests";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> interests = new List<SelectListItem>();
    interests.Add(new SelectListItem() { Text = "Food", Value = "1" });
    interests.Add(new SelectListItem() { Text = "Drinking/NightLife", Value = "2" });
    interests.Add(new SelectListItem() { Text = "Activities", Value = "3" });
    interests.Add(new SelectListItem() { Text = "Animals", Value = "4" });
    interests.Add(new SelectListItem() { Text = "Outdoors", Value = "5" });
    interests.Add(new SelectListItem() { Text = "Culture", Value = "6" });
    interests.Add(new SelectListItem() { Text = "Fashion", Value = "7" });
    interests.Add(new SelectListItem() { Text = "Wellness", Value = "8" });

}

<h2>Interests</h2>

<div class="container">
    <div class="row">
        <p>
            Let us know some of your interests, and we'll get you started with some categories. Choose the top 2 interests you'd like to keep track of.'
        </p>
        <form asp-action="CreateProfile" method="post">
            @foreach (SelectListItem interest in interests)
            {
                <input type="checkbox" class="interestBox" name="interests" value="@interest.Value" /> @interest.Text <br />
            }
            <input type="submit" name="Submit" value="submit" />
        </form>
    </div>
</div>